@import url(./assets/josh-comeau-reset.css);

@font-face{
    font-family: "Rubik";
    src: url(./assets/Rubik-VariableFont_wght.woff2) format("woff2-variations");
    font-weight: 300 900;
    font-style: normal;
}


body {
    background-color: black;
    height: 100vh;
    font-family: Rubik, sans-serif;

    display: grid;
    
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar{
    grid-area: 1/1/end/2;
    background-color: blue;
}

.header{
    grid-area: 1/2/2/end;
    background-color: red;
}


.main-content{
    grid-area:2/2/end/end;
    background-color: green;
}